<div id="nav-mini">
  <div class="">
    <div id="" class="">
      <div class="">
        <div class="">
          <nav role="navigation" class="">
            <ul class="">
              <li><a href="/" class="nav-item">NKO 2013</a></li>
              <li><a href="/" class="nav-item">Prizes</a></li>
              <li><a href="/" class="nav-item">Jobs</a></li>
              <li><a href="/" class="nav-item">Judges</a></li>
              <li><a href="/" class="nav-item">Sponsors</a></li>
              <li><a href="/" class="nav-item">About</a></li>
              <li><a href="/" class="nav-item">Blog</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
