<div id="nav-mini">
  <div class="container">
    <div id="nav" class="nav-wrapper">
      <div class="nav-inner row navbar-default">
        <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/" class="nav-item">NKO 2013</a></li>
              <li><a href="/" class="nav-item">Prizes</a></li>
              <li><a href="/" class="nav-item">Jobs</a></li>
              <li><a href="/" class="nav-item">Judges</a></li>
              <li><a href="/" class="nav-item">Sponsors</a></li>
              <li><a href="/" class="nav-item">About</a></li>
              <li><a href="/" class="nav-item">Blog</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
