<div class="container">
  <div class="sponsors">
    <h3>Thanks to our Platinum Sponsors</h3>
    <ul class="list-inline">
      <li class="logo-item"><a class="ir goinstant-logo" href="http://www.goinstant.com">GoInstant</a></li>
      <li class="logo-item"><a class="ir nodefirm-logo" href="http://www.thenodefirm.com">The Node Firm</a></li>
      <li class="logo-item"><a class="ir joyent-logo" href="http://www.joyent.com">Joyent</a></li>
      <li class="logo-item"><a class="ir groupon-logo" href="http://engineering.groupon.com">Groupon</a></li>
    </ul>
  </div>
</div>
