/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * ChatBox
 */
.logo-container {
  height: 150px;
  position: relative; }

.event-logo {
  margin-top: 38.5px;
  background: url(/img/nko-logo.png);
  width: 393px;
  height: 73px; }

.opentok-logo {
  position: absolute;
  right: 15px;
  top: 0;
  margin-top: 43px;
  background: url(/img/opentok-logo.png);
  width: 200px;
  height: 64px; }

.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * ChatBox
 */
/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * ChatBox
 */
.Blur video {
  -webkit-filter: Blur(15px);
  -moz-filter: Blur(15px);
  filter: Blur(15px); }

.Sepia video {
  -webkit-filter: Sepia(100%);
  -moz-filter: Sepia(100%);
  filter: Sepia(100%); }

.Grayscale video {
  -webkit-filter: Grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

.Invert video {
  -webkit-filter: Invert(100%);
  filter: Invert(100%); }

.filterContainer {
  border: 1px solid #DDD;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 1px 1px 3px #999 inset;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #EEE; }
  .filterContainer h1 {
    display: inline;
    font-size: 20px;
    line-height: 110%;
    padding: 3px 10px;
    color: #444444;
    font-family: "franklin-gothic-urw",sans-serif;
    font-weight: normal; }
  .filterContainer .filterOptions, .filterContainer .roomOptions {
    display: inline; }
    .filterContainer .filterOptions .filterOption, .filterContainer .filterOptions .roomOption, .filterContainer .roomOptions .filterOption, .filterContainer .roomOptions .roomOption {
      font-family: "franklin-gothic-urw",sans-serif;
      font-weight: normal;
      color: #999999;
      cursor: pointer; }
    .filterContainer .filterOptions .roomOption, .filterContainer .roomOptions .roomOption {
      opacity: 0.5; }
    .filterContainer .filterOptions .filterOption, .filterContainer .filterOptions .roomOption.readyOption, .filterContainer .roomOptions .filterOption, .filterContainer .roomOptions .roomOption.readyOption {
      opacity: 1; }
      .filterContainer .filterOptions .filterOption:hover, .filterContainer .filterOptions .roomOption.readyOption:hover, .filterContainer .roomOptions .filterOption:hover, .filterContainer .roomOptions .roomOption.readyOption:hover {
        background-color: rgba(159, 44, 56, 0.5);
        color: white; }
      .filterContainer .filterOptions .filterOption.optionSelected, .filterContainer .filterOptions .roomOption.readyOption.optionSelected, .filterContainer .roomOptions .filterOption.optionSelected, .filterContainer .roomOptions .roomOption.readyOption.optionSelected {
        background-color: #9f2c38;
        color: white; }
        .filterContainer .filterOptions .filterOption.optionSelected:hover, .filterContainer .filterOptions .roomOption.readyOption.optionSelected:hover, .filterContainer .roomOptions .filterOption.optionSelected:hover, .filterContainer .roomOptions .roomOption.readyOption.optionSelected:hover {
          background-color: #9f2c38;
          color: white; }

.roomControls {
  margin-top: 10px; }

/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * ChatBox
 */
#streams_container {
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  left: 15px;
  right: 415px;
  background-color: #000; }
  #streams_container .streamContainer {
    display: inline-block;
    position: relative;
    text-align: center;
    box-sizing: border-box; }
    #streams_container .streamContainer .OT_video-container {
      transition: width 1s;
      -webkit-transition: width 1s; }
  #streams_container .flagUser {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: none;
    box-shadow: 0.15em 0.25em 0.33em rgba(0, 0, 0, 0.3);
    background-color: #C40A68;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    width: 110px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    display: none; }

.clickThrough {
  pointer-events: none; }

/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * ChatBox
 */
#chatroom {
  background: white;
  border: 3px solid #9f2c38;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  padding: 0;
  width: 400px;
  box-sizing: border-box;
  height: 100%; }

#chatElementContainer {
  height: 100%;
  width: 100%;
  position: relative; }

#displayChat {
  padding: 5px;
  overflow: auto;
  background: #EEE;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 40px; }
  #displayChat .chatEvent {
    text-align: center;
    color: #aaa; }
  #displayChat .chatMessage {
    margin: 10px 5px 5px 5px;
    font-size: 15px;
    word-wrap: break-word; }
  #displayChat li h4 {
    display: inline;
    font-size: 15px; }

#chatInput {
  height: 40px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0; }
  #chatInput input {
    border: 1px solid #DDD;
    background: none;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    color: #444444;
    padding-left: 45px; }
    #chatInput input:focus {
      outline: none;
      box-shadow: 1px 1px 3px #999 inset; }
  #chatInput i {
    font-size: 30px;
    position: relative;
    left: 10px;
    top: -40px;
    color: #8D8F8F;
    float: left; }

.sponsors {
  margin-top: 100px; }
  .sponsors h3 {
    font-family: "franklin-gothic-urw",sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: gray;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 8px;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom: 1px solid gray; }
  .sponsors ul {
    margin-top: 40px;
    margin-bottom: 60px; }
  .sponsors .logo-item {
    width: 289px;
    height: 119px;
    padding-left: 0;
    padding-right: 0; }
    .sponsors .logo-item a {
      display: inline-block; }
  .sponsors .goinstant-logo {
    background: url(/img/goinstant.png); }
  .sponsors .nodefirm-logo {
    background: url(/img/nodefirm.png); }
  .sponsors .joyent-logo {
    background: url(/img/joyent.png); }
  .sponsors .groupon-logo {
    background: url(/img/groupon.png); }
  .sponsors .goinstant-logo,
  .sponsors .joyent-logo,
  .sponsors .nodefirm-logo,
  .sponsors .groupon-logo {
    background-position: center;
    background-repeat: no-repeat;
    width: 289px;
    height: 119px; }

body {
  background-color: #181818; }
  body * {
    box-sizing: content-box; }

.meatContainer {
  position: relative;
  height: 500px; }

.titleText {
  position: absolute;
  top: 0;
  right: 260px;
  left: 443px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 25px;
  margin-top: 62.5px;
  height: 73px; }
