#nav {
  text-align: center;
  padding: 10px 0;
  nav, .nav-inner {
    background: none;
    .col {
      position:static;
    }
  }

  a.nav-item {
    display: inline-block;
    margin: 2px 5px;
    padding: 5px 4px;
    font-family: "franklin-gothic-urw",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.2;
    border-radius: 2px;
    text-shadow: none;

    color: #fff;
    .caret {
      margin-left: 5px;
      vertical-align: 2px;
    }

    &:hover, &:focus {
      background-color: rgba(201, 59, 71, .9);
      text-decoration: none;
      transition: .2s;
    }
    &:focus {
      background-color: rgba(201, 59, 71, .8);
    }
  }

  .open a.nav-item {
    background-color: rgba(201, 59, 71, .8);
  }

  li.active a {
    background-color: rgba(185, 46, 74, .8);
  }

  .navbar-default .navbar-toggle {
    &:hover, &:focus {
      background: #BA3A45;
    }
  }

  .dropdown-menu {
    text-align: left;
  }
}

#nav-mini {
    background: #9F2C38;
    > .container {
      position: relative;
      max-width: 900px;
    }
    nav {
      padding-left: 0;
      margin-left: -15px;
    }

    #user-nav-mini {
      position: absolute;
      right: 15px;
      top: 9px;
      z-index: 100;
    }

    .navbar-default {
      background: transparent;
      a.nav-item {
        color: #fff;
        &:hover {
          background-color: #BA3A45;
        }
      }
      .active a.nav-item {
        background-color: #BA3A45;
      }
    }
}

#landing-nav {
    background: #353439;
    .navbar-header {
      position: absolute;
      right: 10px;
      top: 0;
    }

    .nav-inner {
      margin: 0;
    }
    nav, .navbar-nav {
      text-align: center;
      margin: 3px auto;
      float: none !important;
      > li {
        float: none !important;
        display: inline-block;
      }
    }
    nav {
      padding-left: 0;
      padding-right: 0;
    }
    .nav-wrapper {
      padding: 0;
      a.nav-item {
        margin: 5px 3px;
        padding: 5px 13px;
      }
    }
    .navbar-header {
      position: absolute;
      right: 10px;
      top: 22px;
    }

    .nav-wrapper nav {
      margin-left: -10px;
      padding-left: 0;
    }
    .affix-placeholder {
      height: 72px;
    }
}

@media (max-width: 767px) {
  #nav-mini {
    #nav {
      padding: 0;
    }
    nav {
      border: none;
      margin-top: 7px;
    }
    #user-nav-mini {
      left: 15px;
      right: auto;
    }
  }
  #nav {
    .nav-wrapper {
      padding: 0 !important;
      .navbar {
        border-top: 0px;
        border-bottom: 0px;
        li {
          display: block;
        }
      }
    }
    .header {
      .header-inner {
        min-height: 0;
        height: 147px;
        background-size: 80%;
        background-position: center center;
      }
    }
    &.affix-top .logo-sm {
      display: none;
    }
    &.affix .nav-wrapper nav {
      position: absolute;
      background: none;
    }
  }
}

