@import "logos";
@import "variables";
@import "filters";
@import "streamContainer";
@import "chatBox";

body {
    * { box-sizing: content-box; }

    background-color: #181818;

}

.meatContainer{
  position:relative;
  height: $defaultMeatHeight;
}

// Goes in between Logos
$roomNameFontSize: 25px;
.titleText{
  position: absolute;
  top:0;
  right: $opentok-logo-width+60px;
  left: $event-logo-width+50px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: $roomNameFontSize;
  margin-top: ($logo-container-height - $roomNameFontSize) / 2;
  height: $event-logo-height;
}


.sponsors {
  margin-top: 100px;
  h3 {
    font-family: "franklin-gothic-urw",sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: gray;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 8px;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom:1px solid gray;
  }
}

.goinstant-logo {
  width: 100px ;
  height: 100px ;
  background: red;
}
.nodefirm-logo {
  width: 100px ;
  height: 100px ;
  background: red;
}
.joyent-logo {
  width: 100px ;
  height: 100px ;
  background: red;
}
.groupon-logo {
  width: 100px ;
  height: 100px ;
  background: red;
}

// Image Replacement
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color:transparent;
}
