@import "logos";
@import "variables";
@import "filters";
@import "streamContainer";
@import "chatBox";
@import "footer";

body {
  * { box-sizing: content-box; }
  background-color: #181818;
}

.meatContainer{
  position:relative;
  height: $defaultMeatHeight;
}

// Goes in between Logos
$roomNameFontSize: 25px;
.titleText{
  position: absolute;
  top:0;
  right: $opentok-logo-width+60px;
  left: $event-logo-width+50px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: $roomNameFontSize;
  margin-top: ($logo-container-height - $roomNameFontSize) / 2;
  height: $event-logo-height;
}

