@import "variables";

#streams_container{
  text-align:center;
  box-sizing: border-box;
  position:absolute;
  height: 100%;
  top:0;
  left: $containerPadding;
  right: $chatBoxWidth+$containerPadding;
  background-color: #000;

  .streamContainer{
    display: inline-block;
    position: relative;
    text-align:center;
    box-sizing: border-box;
    .OT_video-container{
      transition: width 1s;
      -webkit-transition: width 1s;
    }
  }

  .subscriber_stream_content:hover .flagUser{
  }

  .flagUser{
    position:absolute;
    top:10px;
    left:0px;
    right:0px;
    margin: auto;
    border:none;
    box-shadow:0.15em 0.25em 0.33em rgba(0, 0, 0, 0.3);
    background-color:#C40A68;
    color:white;
    font-size:15px;
    padding:10px;
    border-radius:7px;
    width: 110px;
    height: 20px;
    text-align:center;
    cursor:pointer;
    display:none;
  }
  .userName{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    border:none;
    background-color:rgba(0,0,0,0.8);
    color:white;
    font-size:13px;
    padding:10px;
    text-align:center;
    display:none;
  }
}

.clickThrough{
  pointer-events:none;
}

